---
interface Props {
  title: string;
  firstText: string;
  image: string;
  secondText: string;
}
---

<section class="flex flex-col items-center">
  <h2 class="mb-5 text-2xl font-bold text-sky-600">Salto de Fe</h2>
  <p class="mb-5 dark:text-white lg:text-lg">
    Soy consciente y tengo claro los problemas y soluciones, pero con la
    bendición, el salto de fe y el acompañamiento en las urnas de cada uno de
    ustedes, el 30 de octubre amanecerá un mejor porvenir. Tenemos previsto
    atender todos los sectores: vivienda, salud, medio ambiente, infraestructura
    vial, agropecuario, cultura, deportes, educación, entre otros.
  </p>
  <img
    width="300"
    height="200"
    class="mb-5 lg:w-[400px] lg:h-[280px] md:w-[300px] md:h-[200px] rounded-lg"
    src="/img/weykman10.webp"
    alt=""
  />
  <p class="mb-5 dark:text-white lg:text-lg">
    A toda la comunidad de este bello municipio, les pido que sigamos
    persistiendo firmes en trabajar unidos por el desarrollo de Consacá y el
    bienestar de nuestra gente. <br />
    Sigamos difundiendo y sumando voces y esfuerzos. Los exhorto a que nos permitan
    llevar un mensaje claro de amor, progreso y bienestar integral para toda la ciudadanía,
    para que luego sea la herencia y el futuro de nuestros hijos.
  </p>
</section>
