---
import FooterContact from "../components/FooterContact.astro";
import HeaderMenu from "../components/HeaderMenu.astro";
import Layout from "../layouts/Layout.astro";
import Information from "./information.astro";
---

<Layout title="Weykman Jojoa Parra">
  <HeaderMenu logo="Weyman" />
  <section>
    <h2>A</h2>
    <p>
      Weykman Jojoa es un consaqueño orgulloso de su tierra, creado y educado
      por una familia honesta y trabajadora, soy apasionado por el campo, por el
      deporte, por la agricultura y el emprendimiento. Me considero una persona
      tranquila, sencilla y trabajadora, yo soy un visionario y un empresario
      cafetero.
    </p>
    <p>
      El cien por ciento de mi equipo son gente linda y trabajadora madres
      cabeza de familia, grupos de jovenes, agricultores y lideres comunitarios.
    </p>
    <p>
      Definitivamente mi familia es la base, la bendicion de ser esposo y padre
      me ha transformado y ha sido lo que saco mi mejor version, porque amo y
      conozco mi tierra me siento capaz y me he preparado para ello estoy seguro
      desde mi experiencia y con una vision enfocado al turismo, al desarrollo
      comunitario, al campo y la infraestructura, es lo que necesita Consaca
      para seguir adelante.
    </p>
    <p>
      Mi vocacion es la labor social, el apoyo comunitario y el tabajo
      solidario, los invito a que me acompañen a cerrar este ciclo de unas 4
      decadas de atrazo, corrupcion e indolencia de nuestro municipio de
      Consaca. Los convido a que me acompañen a abrir las puertas a un nuevo
      ciclo de progreso, de bienestar y de renovacion a un cambio social.
    </p>
    <p>
      Se que con voluntad y buenas intenciones no es suficiente para realizar
      una buena administracion, tambien soy consciente que se necesita
      conocimiento, experiencia, contactos y buenas relaciones y amigos en el
      gobierno departamental y nacional por eso esta parte la hemos llenado y
      complementado con la llegada de un excelente equipo de lujo, conformado
      por el Doctor Cristian Gomez, Ingeniero Oscar Navarra, Ingeniero Oscar
      Melo y unos excelentes lideres comunitario entre otros. Aspiro y espero
      que nos unamos y nos acompañen todos en las urnas el 29 de Octubre.
    </p>
    <h2>B</h2>
    <p>
      Soy un candidato a la alcadia que se duele por su region yo tengo un plan
      de laborar desde aqui con mi equipo de trabajo, tengo bien claro los
      problemas y soluciones de nuestro municipio de consaca, mi programa de
      gobierno ocupa el primer lugar en mi plan de inversion con presupuesto,
      recursos gestionados e inciativas y proyectos
    </p>
    <p>
      El compromiso tiene que ser apropiarnos de esta opcion y proyecto
      politico, hacernos dueños de el, de sus ejes centrales y comprometernos
      hasta cuando logremos la renovacion y el desarrollo para todos.
    </p>
    <p>
      La tarea es facil, yo voy con ustedes y hasta donde ustedes me lleven,
      solo les digo que las oportunidades son visibles cuando lo complejo se
      hace simple y sencillo.
    </p>
    <p>
      No me gusta trabajar solo , ni estar solo, creo mas en el trabajo conjunto
      , en la union y en equipo, por eso los invito a que nos unamos y
      trabajemos en un gran PACTO SOCIAL por consaca tambien hago extensiva la
      invitacion a todos los partidos politicos de derecha y alternativos a los
      precandidatos y a los lideres comunitario, todos aqui son bienvenidos.
    </p>
    <p>
      Nosotros aqui no cerramos la puerta a nadie, estamos abiertos a unirnos y
      trabajar en alianza con todos los partidos politicos, con todos los
      lideres sociales, con todos los movimientos y organizaciones sociales,
      porque yo creo en la juntanza y el trabajo <strong>cambiar</strong>, ya
      que todos unidos somos mas, porque la union hace la fuerza y asi cambiarle
      la cara a consaca, pintarle la cara de color esperanza y pintarle la cara
      de progreso y desarollo.
    </p>
    <p>
      Esta vez no nos podemos equivocar, tenemos que elegir muy bien, quitarnos
      el velo de los ojos y mirar muy bien lo que hay detras de cada candidato,
      seamos criticos reflexivos, miremos sus hechos y resultados, como es como
      ser humano, miran su equipo de trabajo, miren su programa de gobierno y
      sobre todo observar sus intenciones, si va por el interes personal o el
      interes de la comunidad.
    </p>
  </section>
  <FooterContact />
</Layout>
