---
import FooterContact from "../components/FooterContact.astro";
import HeaderMenu from "../components/HeaderMenu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Weykman Jojoa Parra">
  <HeaderMenu logo="Weyman" />
  <main></main>
  <FooterContact />
</Layout>
