<section>
  <h2 class="text-red">C1</h2>
  <p>
    Con mi equipo de trabajo estamos laborando arduamente en la campaña a la
    Alcadia de Consaca, porque me duele mi region y la llevo en mi corazon, por
    eso tengo claro los problemas y las soluciones de mi municipio y se que con
    el presupuesto, proyectos y gestion de recursos, mediante un excelente plan
    de inversion lograremos la ejecucion de muchos proyectos y obras que son
    inicitivas necesarias.
  </p>
  <p>
    Con mi equipo de trabajo, hacemos nuestra parte, pero muy cariñosamente les
    pido la voluntad de apropiarse de esta opcion y proyectos politico, hacernos
    dueños de el, de sus ejes centrales y comprometernos a 3 cosas: primero en
    las urnas, segundo en la ejecucion y luego a disfrutar la renovacion y el
    progreso de nuestra gente. Es muy sencillo, solo vota por Weykman.
  </p>
  <h2>C2</h2>
  <p>
    A toda a comunidad de este bello municipio les pido que sigamos persistiendo
    firmes en trabajar unidos por el desarrollo de Consaca y el bienestar de
    nuestra gente. <br />
    Sigamos difundiendo, sumando voces, esfuerzos, los exorto a que nos permitan
    llegar con un mensaje claro de amor, progreso y bienestar integral para toda
    la cuidadania, para que luego sea la herencia y el futuro de nuestros hijos.<br
    />
    Gracias a nuestros lideres urbanos y rurales y a nuestro equipo de trabajo por
    acompañarnos. <br />
    Decidete al cambio, solo hazlo.
  </p>
  <p>
    Con la bendicion, la fe y el acompañamiento en las urnas de todos y cada uno
    de ustedes el 30 de octubre amanecera un mejor porvenir, donde se tiene
    previsto atender a todos los sectores: vivienda, salud, ambiental, vial,
    agropecuario, cultura, deporte, educacion, entre otros. <br />
    Juntos demos ese salto de Fe, no los voy a defraudar.
  </p>
  <p>
    Queremos posicionar a Consaca a nivel departamental en cuanto a eficiencia
    fiscal y administrativa y sacarnos del ultimo puesto que se encuentra. <br
    />
    Darle una buena imagen a esta bella region llena de paisajes cafeteros, frutales
    y cañadazales.
    <br />
    Weykman no es de promesas, es de acciones.
  </p>
  <h2>C3</h2>
  <p>
    La gente se queja y se lamenta de las malas administraciones pasadas y le
    hechan la culpa al ego, la division, la disputade los candidatos de derecha
    y alternaivos, para solucionar este incoveniente nosotros aca nos unimos dos
    precandidatos de derecha y dos precandidatos alternativos, hicimos un gran
    acuerdo de union pendular y nos sentamos a la mesa y firmamos un gran pacto
    social en consaca. <br />
    Nosotros esperamos que ustedes, es que masivamente la poblacion con nuestro municipio
    nos acompañe con su voto, para que por fin tengamos una renovacion de cambio,
    progreso y bienestar para toda nuestra gente. <br />
    Despues de presentarles esta honesta solucion a sus problemasy necesidades, yo
    muy respetuosamente les pido que dejemos de ser indolentes, indiferentes y tengamos
    sentido de pertenencia por nuestro terruño y que entre todos nos demostremos
    a nosotros mismos que si podemos.
  </p>
  <p>
    Los alcaldes de las corruptas administraciones pasados no son los unicos
    culpables del problema, ellos son la consecuencia del problema, la verdadera
    causa del problema es la gente de nuestro municipio, por elegir y votar
    pensando en el beneficio personal y no en el beneficio de su vereda o de su
    pueblo. <br />
    Estas son la razones por los que la gente vota equivacamente, la gente vota por
    su politiquero de profesion y no por un politico de vocacion. <br />
    Se vota por su propio beneficio personal y no el de la comunidad, la gente no
    se informa bien y se deja manipular, no gente no vota a conciencia. <br />
    La gente es de doble moral, por un lado habla mal de la corrupcion y por el otro
    lado con su voto amañado origina la corrupcion, lo que es es moralmente incorrecto,
    por eso los invito a renovar y a cambiar, votemos a conciencia, con dignidad
    y por merito para que consaca se vuelva a vestirse de alegria y saber que se
    puede... y querer que se pueda.
  </p>
  <h2 class="text-red">D</h2>
  <p>
    El pacto historico Consaca fue muy importante en las elecciones
    presidenciales y se creia que en las elecciones territoriales tendrian el
    mismo impacto, pero no fue asi. Por ejemplo al pacto historico de Consaca
    llegaron unos tradicionales dizfrasados de Colombia humana y de pacto
    historico, como Raul Delgado y Guillermo Garcia entre otros y estos
    manipularon, distorcionaron y confundieron a los verdaderos pacto historico
    de las buenas intenciones y la idea original del cambio. <br />
    Este grupo del pacto historico ya contaminado les mostro y les dijo una cosa
    a los seguidores que ingenuamente kes creyeron y la primera practica amañada
    que hizo el pacto historico fue inabilitar al Doctor Cristian Gomez un precandidato
    de calidad con conocimiento y experiencia.
  </p>
  <p>
    La estrategia maleva que les hizo el pacto historico a los precandidatos
    alternativos de consaca consistio en que los hizo afiliar a un partido
    politico y luego les enredaron la asamblea, dejaron pasar un tiempo, no les
    permitieron el consenso y no les dieron el aval, todo esto lo hicieron para
    favorecer a un solo precandidato predeterminado a dedo que es el señor Edgar
    Jose Narvaez. <br />
    Por esa razon los precandidatos alternativos tuvieron que emigrar del pacto historico
    porque no hubo juego limpio. La Colombia humana y el pacto historico en Consaca
    lo distorcionaron en el momento que se les ocurrio jugar sucio y dejo de ser
    una marca de Gustavo Petro y paso a ser un pacto de tradicionales o sea de los
    mismos de siempre.
  </p>
</section>
