---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Weykman | Información">
  <main
    class="max-w-2xl flex flex-col gap-10 items-center justify-center mx-auto mt-8 p-4 sm:p-8"
  >
    <section class="flex flex-col items-center">
      <h2 class="mb-5 text-2xl font-bold text-sky-600">Salto de Fe</h2>
      <p class="text-base mb-5 dark:text-white lg:text-lg">
        Soy consciente y tengo claro los problemas y soluciones, pero con la
        bendición, el salto de fe y el acompañamiento en las urnas de cada uno
        de ustedes, el 30 de octubre amanecerá un mejor porvenir. Tenemos
        previsto atender todos los sectores: vivienda, salud, medio ambiente,
        infraestructura vial, agropecuario, cultura, deportes, educación, entre
        otros.
      </p>
      <img
        width="300"
        height="200"
        class="mb-5 lg:w-[400px] lg:h-[280px] md:w-[300px] md:h-[200px] rounded-lg"
        src="/img/weykman10.webp"
        alt=""
        loading="lazy"
      />
      <p class="text-base mb-2 dark:text-white lg:text-lg">
        A toda la comunidad de este bello municipio, les pido que sigamos
        persistiendo firmes en trabajar unidos por el desarrollo de Consacá y el
        bienestar de nuestra gente. <br />
        Sigamos difundiendo y sumando voces y esfuerzos. Los exhorto a que nos permitan
        llevar un mensaje claro de amor, progreso y bienestar integral para toda
        la ciudadanía, para que luego sea la herencia y el futuro de nuestros hijos.
      </p>
    </section>

    <section class="flex flex-col items-center">
      <h2 class="mb-4 text-2xl font-bold text-sky-600">Unión Pendular</h2>
      <p class="text-base mb-5 dark:text-white lg:text-lg">
        De las malas administraciones pasadas, las personas suelen culpar a las
        disputas y la falta de unión entre los partidos de derecha e izquierda.
        Para solucionar este inconveniente, nosotros aquí decidimos unir a dos
        precandidatos de izquierda con dos precandidatos de derecha. Llegamos a
        un gran acuerdo de unión pendular y nos sentamos a la mesa para formar
        un gran pacto social por Consacá. Ha llegado la hora de despertar y
        alimentar el amor y sentido de pertenencia por nuestro terruño.
      </p>
      <img
        width="300"
        height="200"
        class="mb-5 lg:w-[400px] lg:h-[280px] md:w-[300px] md:h-[200px] rounded-lg"
        src="/img/weykman8.webp"
        alt=""
        loading="lazy"
      />
    </section>

    <section class="flex flex-col items-center">
      <h2 class="mb-5 text-2xl font-bold text-sky-600">A conciencia</h2>
      <p class="text-base mb-5 dark:text-white lg:text-lg">
        Algunas de las razones por las cuales la gente vota equivocadamente son
        las siguientes:
      </p>
      <ul class="max-w-md space-y-1 text-sky-600 list-disc list-inside mb-5">
        <li>
          Votamos por un polítiquero de profesión y no por un político de
          vocación.
        </li>
        <li>
          Algunos votantes priorizan su beneficio personal sobre el bienestar de
          la comunidad.
        </li>
        <li>La gente no vota a consciencia.</li>
        <li>
          La falta de información adecuada y la manipulación política también
          contribuyen a que las personas no voten de manera consciente y
          responsable.
        </li>
      </ul>
      <p class="text-base mb-5 dark:text-white lg:text-lg">
        En síntesis, mucha gente muestra doble moral: por un lado, hablan en
        contra de la corrupción, pero por otro lado, con su voto amañado
        contribuyen a generar corrupción, lo cual es moralmente incorrecto. Los
        invito a renovar y cambiar, a votar con conciencia, dignidad y por
        mérito, para que Consacá recupere su alegría.
      </p>
    </section>

    <section class="flex flex-col items-center">
      <h2 class="mb-5 text-2xl font-bold text-sky-600">El Pacto Histórico</h2>
      <p class="text-base mb-5 dark:text-white lg:text-lg">
        Este grupo, disfrazado de pacto histórico, llevó a cabo su primera
        práctica amañada al inhabilitar al mejor candidato, quien poseía mayor
        conocimiento y experiencia administrativa.
      </p>
      <p class="text-base mb-5 dark:text-white lg:text-lg">
        El pacto histórico contaminado llevó a cabo una estrategia maquiavélica
        con los precandidatos alternativos de Consacá, consistente en hacerlos
        afiliarse a un partido político y luego complicar el proceso de
        asamblea. Después de hacerles esperar, les prometieron el consenso pero
        finalmente no les dieron el aval. Todo esto fue llevado a cabo para
        favorecer únicamente al precandidato predeterminado de la Colombia
        Humana.
      </p>
      <p class="text-base mb-5 dark:text-white lg:text-lg">
        La Colombia Humana y el Pacto Histórico en Consacá lo distorsionaron en
        el momento en que decidieron jugar sucio, dejando de ser una marca de
        Gustavo Petro y convirtiéndose en un pacto tradicional, es decir, de los
        mismos de siempre.
      </p>
      <img
        width="300"
        height="200"
        class="mb-5 lg:w-[400px] lg:h-[280px] md:w-[300px] md:h-[200px] rounded-lg"
        src="/img/weykman7.webp"
        alt=""
        loading="lazy"
      />
    </section>

    <section class="flex flex-col items-center">
      <h2 class="mb-5 text-2xl font-bold text-sky-600">Cierre de ciclo</h2>
      <p class="text-base mb-5 dark:text-white lg:text-lg">
        Los invito a que me acompañen a cerrar este ciclo de más de 4 décadas de
        atraso, corrupción e indolencia en nuestro municipio de Consacá. También
        les convido a que me acompañen a abrir las puertas a un nuevo ciclo de
        progreso, bienestar y renovación para un cambio social.
      </p>
      <img
        width="300"
        height="200"
        class="mb-5 lg:w-[400px] lg:h-[280px] md:w-[300px] md:h-[200px] rounded-lg"
        src="/img/weykman6.webp"
        alt=""
        loading="lazy"
      />
    </section>
  </main>
</Layout>
