---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Weykman | Información">
  <main
    class="max-w-4xl flex flex-col gap-4 items-center justify-center mx-auto mt-28 [&>section]:p-8"
  >
    <section>
      <h2>Salto de fe</h2>
      <p>
        A toda la comunidad de este bello municipio, les pido que sigamos
        persistiendo firmes en trabajar unidos por el desarrollo de Consacá y el
        bienestar de nuestra gente. <br />
        Sigamos difundiendo y sumando voces y esfuerzos. Los exhorto a que nos permitan
        llevar un mensaje claro de amor, progreso y bienestar integral para toda
        la ciudadanía, para que luego sea la herencia y el futuro de nuestros hijos.
      </p>
      <img src="" alt="" />
      <p>
        Con la bendición, la fe y el acompañamiento en las urnas de todos y cada
        uno de ustedes, el 30 de octubre amanecerá un mejor porvenir, donde se
        tiene previsto atender a todos los sectores: vivienda, salud, ambiente,
        vial, agropecuario, cultura, deporte, educación, entre otros. Juntos
        demos ese salto de fe, no los voy a defraudar.
      </p>
    </section>
    <section>
      <h2>Unión Pendular</h2>
      <p>
        La gente se queja y lamenta de las malas administraciones pasadas y le
        echan la culpa al ego, la división y la disputa de los candidatos de
        derecha y alternativos. Para solucionar este inconveniente, nosotros
        aquí nos unimos dos precandidatos de derecha y dos precandidatos
        alternativos. Hicimos un gran acuerdo de unión pendular y nos sentamos a
        la mesa para firmar un gran pacto social en Consacá.
      </p>
      <p>
        Nosotros esperamos que ustedes, es decir, la población de nuestro
        municipio, nos acompañen masivamente con su voto, para que por fin
        tengamos una renovación de cambio, progreso y bienestar para toda
        nuestra gente.
      </p>
      <p>
        Después de presentarles esta honesta solución a sus problemas y
        necesidades, les pido muy respetuosamente que dejemos de ser indolentes
        e indiferentes, y que tengamos un sentido de pertenencia por nuestro
        terruño. Entre todos, demostremos que sí podemos hacer la diferencia y
        mejorar nuestra comunidad.
      </p>
    </section>

    <section>
      <h2>La verdadera causa</h2>
      <p>Estas son las razones vota equivocadamente:</p>
      <ul>
        <li>
          Algunos votantes priorizan su beneficio personal sobre el bienestar de
          la comunidad
        </li>
        <li>
          La falta de información adecuada y la manipulación política también
          contribuyen a que las personas no voten de manera consciente y
          responsable.
        </li>
        <li>La gente no vota a consciencia.</li>
      </ul>
      <p>
        Es cierto que en ocasiones la sociedad puede mostrar una doble moral,
        expresando su descontento con la corrupción pero luego contribuyendo a
        perpetuarla con votos cuestionables. Esta contradicción es moralmente
        incorrecta y debilita el tejido social, votemos a conciencia, con
        dignidad y por merito para que Consacá se vuelva a vestirse de alegria.
      </p>
    </section>
  </main>
</Layout>
