---
import Consciously from "../components/information/Consciously.astro";
import HistoricPact from "../components/information/HistoricPact.astro";
import LeapOfFaith from "../components/information/LeapOfFaith.astro";
import SectionInformation from "../components/information/SectionInformation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Weykman | Información">
  <main
    class="max-w-2xl flex flex-col gap-10 items-center justify-center mx-auto mt-8 p-4 sm:p-8"
  >
    <LeapOfFaith
      title="Salto de Fe"
      firstText="Soy consciente y tengo claro los problemas y soluciones, pero con la bendición, el salto de fe y el acompañamiento en las urnas de cada uno de ustedes, el 30 de Octubre amanecerá un mejor porvenir. Tenemos previsto atender todos los sectores: vivienda, salud, medio ambiente, infraestructura vial, agropecuario, cultura, deportes, educación, entre otros."
      image="/img/weykman10.webp"
      secondText="A toda la comunidad de este bello municipio, les pido que sigamos persistiendo firmes en trabajar unidos por el desarrollo de Consacá y el bienestar de nuestra gente. Sigamos difundiendo y sumando voces y esfuerzos. Queremos llevar un mensaje claro de amor, progreso y bienestar integral para toda la cuidadanía, para que luego sea la herencia y el futuro de nuestros hijos."
    />

    <SectionInformation
      title="Unión Pendular"
      text="De las malas administraciones pasadas, las personas suelen culpar a las disputas y la falta de unión entre los partidos de derecha e izquierda. Para solucionar este inconveniente, nosotros aquí decidimos unir a dos precandidatos de izquierda con dos precandidatos de derecha. Llegamos a un gran acuerdo de unión pendular y nos sentamos a la mesa para formar un pacto social por Consacá. Ha llegado la hora de despertar y alimentar el amor y sentido de pertenencia por nuestro terruño."
      image="/img/iniciativas/iniciativa2.webp"
    />

    <Consciously
      title="A conciencia"
      firstText="Algunas de las razones por las cuales la gente vota equivocamente son las siguientes:"
      point1="Votamos por un polítiquero de profesión y no por un político de vocación."
      point2="Algunos votantes priorizan su beneficio personal sobre el bienestar de la comunidad."
      point3="La gente no vota a consciencia."
      point4="La falta de información adecuada y la manipulación política también contribuyen a que las personas no voten de manera responsable."
      secondText="En síntesis, mucha gente muestra doble moral: por un lado, hablan en contra de la corrupción, pero por otro lado, con su voto amañado contribuyen a generar corrupción, lo cual es moralmente incorrecto. Los invito a renovar y cambiar, a votar con conciencia, dignidad y por mérito, para que Consacá recupere su alegría."
      image="/img/iniciativas/iniciativa5.webp"
    />

    <HistoricPact
      title="El Pacto Histórico"
      firstText="Un grupo autodenominado como Pacto Histórico, llevó a cabo una controvertida estrategia al descalificar al mejor candidato, quien contaba con amplios conocimientos y experiencia administrativa."
      secondText="El proceso interno del Pacto Histórico en Consacá fue cuestionable, utilizando tácticas maquiavélicas para manipular a los precandidatos alternativos. Los obligaron a afiliarse a un partido político y luego complicaron el proceso de asamblea. Después de hacerles esperar, les prometieron el consenso, pero finalmente no les dieron el aval. Todo esto se hizo con el objetivo de favorecer exclusivamente al precandidato predeterminado de la Colombia Humana."
      thirdText="En el camino, la Colombia Humana y el Pacto Histórico en Consacá perdieron su esencia, ya que optaron por jugar sucio y se convirtieron en una versión tradicional de los mismos grupos de siempre, distorsionando su imagen original vinculada a Gustavo Petro."
      image="/img/weykman7.webp"
    />

    <SectionInformation
      title="Cierre de Ciclo"
      text="Los invito a que me acompañen a cerrar este ciclo de más de 4 décadas de atraso, corrupción e indolencia en nuestro municipio de Consacá. También los convido a que me acompañen a abrir las puertas a una nueva etapa de progreso, bienestar y renovación para un cambio social."
      image="/img/weykman6.webp"
    />
  </main>
</Layout>
