---
import Iniciative from "../components/initiatives/Iniciative.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Weykman | Iniciativas">
  <main
    class="max-w-4xl flex flex-col gap-10 items-center justify-center mx-auto mt-10 mb-20 p-4 sm:p-8"
  >
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-5">
      <Iniciative
        title="Iniciativa 1"
        iniciative="Trabajar y gestionar para lograr un proyecto que posicione a Consacá como el rincon turístico por excelencia de Nariño."
        image="/img/iniciativas/iniciativa4.webp"
      />
      <Iniciative
        title="Iniciativa 2"
        iniciative="Trabajar en colaboración con el gobierno departamental y central para gestionar y viabilizar un proyecto de agroindustria, con el objetivo de brindar apoyo al agrigultor y generar empleo."
        image="/img/weykman9.webp"
      />
      <Iniciative
        title="Iniciativa 3"
        iniciative="Agrupar y organizar a los diferentes gremios, actividades y profesiones en asociaciones, con el objetivo de impulsar y apoyar su desarrollo mediante alianzas colaborativas que fomenten la productividad."
        image="/img/weykman2.webp"
      />
      <Iniciative
        title="Iniciativa 4"
        iniciative="Impulsar, apoyar y premiar a los nuevos emprendimientos rentables que generen empleo."
        image="/img/sombreros.webp"
      />
      <Iniciative
        title="Iniciativa 5"
        iniciative="Promover e incentivar los movimientos de juventud y mujeres, con el objetivo de alcanzar metas de progreso y binenestar."
        image="/img/jovenes.webp"
      />
      <Iniciative
        title="Iniciativa 6"
        iniciative="Trabajar en colaboración con las fundaciones para realizar labores sociales y trabajo comunitario en las poblaciones rurales."
        image="/img/weykman4.webp"
      />
      <Iniciative
        title="Iniciativa 7"
        iniciative="Trabajar y gestionar en alianza con las escuelas y colegios del municipio, el mejoramiento y mantenimiento de las instalaciones."
        image="/img/escuela.webp"
      />
      <Iniciative
        title="Iniciativa 8"
        iniciative="Gestionar ante el gobierno departamental y nacional la implementación de una sub-sede del SENA y la creación de un laboratorio de suelos en el municipio de Consacá."
        image="/img/sena.webp"
      />
      <Iniciative
        title="Iniciativa 9"
        iniciative="Trabajar y gestionar un proyecto ante el gobierno para obtener recursos destinados a la construcción de placas huellas en aquellas veredas que requieran de ellas."
        image="/img/iniciativas/iniciativa3.webp"
      />
      <Iniciative
        title="Iniciativa 10"
        iniciative="Trabajar en alianza con los colegios y asociaciones de exalumnos para gestionar ante la Secretaría de Educación departamental y Ministerio de Educación la creación de una sede o facultad de la Universidad de Nariño."
        image="/img/los-libertadores.webp"
      />
      <Iniciative
        title="Iniciativa 11"
        iniciative="Establecer una beca de estudios superiores para los dos primeros puestos en el examen del ICFES."
        image="/img/icfes.webp"
      />
      <Iniciative
        title="Iniciativa 12"
        iniciative="Trabajar en la gestión de recursos para la remodelación del estadio de Consacá."
        image="/img/iniciativas/estadio.webp"
      />
    </section>
  </main>
</Layout>
