<section class="goals">
  <article class="goal">
    <div class="goal__image">
      <img
        class="goal__photo"
        src="/assets/img/weyman5.webp"
        alt="Iglesia de Consacá"
      />
    </div>
    <div class="goal__content">
      <h3 class="goal__title">Objetivo #1</h3>
      <p class="goal__message">
        Trabajar y gestionar para lograr un proyecto turístico que convierta a
        Consacá en el rincón turístico de Colombia.
      </p>
    </div>
  </article>

  <article class="goal">
    <div class="goal-content">
      <h3 class="goal-content__title">Objetivo #2</h3>
      <p class="goal-content__message">
        Trabajar en colaboración con el gobierno departamental y central para
        gestionar y viabilizar un proyecto de agroindustria, con el objetivo de
        brindar apoyo al agricultor y generar empleo para la comunidad.
      </p>
    </div>
  </article>

  <article class="goal">
    <div class="goal__image">
      <img class="goal__photo" src="/assets/img/weyman1.webp" alt="" />
    </div>
    <div class="goal__content">
      <h3 class="goal__title">Objetivo #3</h3>
      <p class="goal__message">
        Agrupar y organizar a los diferentes gremios, actividades y profesiones
        en asociaciones, con el objetivo de impulsar y apoyar su desarrollo
        mediante alianzas colaborativas que fomenten la productividad.
      </p>
    </div>
  </article>

  <article class="goal">
    <div class="goal__image">
      <img class="goal__photo" src="/assets/img/weyman7.webp" alt="" />
    </div>
    <div class="goal__content">
      <h3 class="goal__title">Objetivo #4</h3>
      <p class="goal__message">
        Impulsar, apoyar y premiar a los nuevos emprendimientos rentables que
        generen empleo.
      </p>
    </div>
  </article>

  <article class="goal">
    <div class="goal-content">
      <h3 class="goal-content__title">Objetivo #5</h3>
      <p class="goal-content__message">
        Promover e incentivar los movimientos de juventud y mujeres, con el
        objetivo de alcanzar metas de progreso y bienestar.
      </p>
    </div>
  </article>

  <article class="goal">
    <div class="goal__image">
      <img class="goal__photo" src="/assets/img/weyman4.webp" alt="" />
    </div>
    <div class="goal__content">
      <h3 class="goal__title">Objetivo #6</h3>
      <p class="goal__message">
        Trabajar en colaboración con las fundaciones para realizar labores
        sociales y trabajo comunitario en todas las comunidades rurales.
      </p>
    </div>
  </article>

  <article class="goal">
    <div class="goal__image">
      <img class="goal__photo" src="/assets/img/weyman6.webp" alt="" />
    </div>
    <div class="goal__content">
      <h3 class="goal__title">Objetivo #7</h3>
      <p class="goal__message">
        Trabajar y gestionar en alianza con las escuelas y colegios del
        municipio, el mejoramiento y mantenimiento de las instalaciones.
      </p>
    </div>
  </article>

  <article class="goal">
    <div class="goal-content">
      <h3 class="goal-content__title">Objetivo #8</h3>
      <p class="goal-content__message">
        Gestionar ante el gobierno departamental y nacional la implementación de
        una sub-sede del SENA y la creación de un laboratorio de suelos en el
        municipio de Consacá.
      </p>
    </div>
  </article>

  <article class="goal">
    <div class="goal__image">
      <img class="goal__photo" src="/assets/img/weyman2.webp" alt="" />
    </div>
    <div class="goal__content">
      <h3 class="goal__title">Objetivo #9</h3>
      <p class="goal__message">
        Trabajar y gestionar un proyecto ante el gobierno para obtener recursos
        destinados a la construcción de placas huellas en aquellas veredas que
        requieren de ellas.
      </p>
    </div>
  </article>

  <article class="goal">
    <div class="goal__image">
      <img class="goal__photo" src="/assets/img/weyman3.webp" alt="" />
    </div>
    <div class="goal__content">
      <h3 class="goal__title">Objetivo #10</h3>
      <p class="goal__message">
        Trabajar en alianza con los colegios y asociaciones de exalumnos para
        gestionar ante la Secretaría de Educación departamental y el Ministerio
        de Educación la creación de una sede o facultad de la Universidad de
        Nariño en la zona de la circumbalar del Galeras (Consacá).
      </p>
    </div>
  </article>

  <article class="goal">
    <div class="goal-content">
      <h3 class="goal-content__title">Objetivo #11</h3>
      <p class="goal-content__message">
        Establecer una beca de estudios superiores para los tres primeros
        puestos en el examen del ICFES.
      </p>
    </div>
  </article>

  <article class="goal">
    <div class="goal__image">
      <img
        class="goal__photo"
        src="/assets/img/estadio.webp"
        alt="Estadio Consacá"
      />
    </div>
    <div class="goal__content">
      <h3 class="goal__title">Objetivo #12</h3>
      <p class="goal__message">
        Trabajar en la gestión de recursos para la remodelación del estadio de
        Consacá.
      </p>
    </div>
  </article>
</section>
