---
import Table from "../components/Table.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Weykman | Proyectos">
  <main class="container mx-auto mt-8">
    <Table />
  </main>
</Layout>
