---
import LandingHero from "../components/LandingHero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="¿Quién Soy?">
  <LandingHero />
  <main
    class="flex flex-col max-w-4xl items-center justify-center mx-auto mt-28 text-white [&>article]:p-12"
  >
    <article class="flex flex-col items-center gap-5 mb-10 bg-orange-300">
      <h2 class="text-3xl font-bold text-sky-600 text-center mb-3">
        ¿Quién Soy?
      </h2>
      <p class="text-lg text-black">
        Soy un consaqueño orgulloso de su tierra, criado y educado por una
        familia honesta y trabajadora. Es apasionado por el campo, el deporte,
        la agricultura y el emprendimiento. Me considero una persona tranquila,
        sencilla y trabajadora, además de ser un visionario y un empresario
        cafetero.
      </p>
      <p class="text-lg text-black">
        Mi equipo está compuesto por personas maravillosas y trabajadoras que
        incluyen madres cabeza de familia, grupos de jóvenes, agricultores y
        líderes comunitarios. Cada uno de ellos aporta sus habilidades y
        experiencias únicas, lo que nos permite trabajar de manera efectiva y
        solidaria en nuestros proyectos.
      </p>
      <p class="text-lg text-black">
        Definitivamente, mi familia es mi pilar. Ser esposo y padre ha sido una
        bendición que me ha transformado y ha sacado lo mejor de mí, ya que amo
        y conozco mi tierra. Me siento capaz y me he preparado para contribuir
        al desarrollo turístico, comunitario, agrícola e infraestructural de
        Consacá, pues estoy seguro de que es lo que necesita para avanzar hacia
        el futuro. Con una visión enfocada en estos aspectos, estoy comprometido
        a trabajar arduamente y hacer mi aporte para el crecimiento de nuestra
        comunidad.
      </p>
      <p class="text-lg text-black">
        Mi vocación es la labor social, el apoyo comunitario y el trabajo
        solidario. Los invito a que me acompañen a cerrar este ciclo de unas 4
        décadas de atraso, corrupción e indolencia en nuestro municipio de
        Consacá. Los convido a que me acompañen a abrir las puertas a un nuevo
        ciclo de progreso, bienestar y renovación, en busca de un cambio social.
      </p>
      <img
        width="450"
        height="300"
        class="w-[450px] h-[300px] rounded-lg"
        src="/img/weykman3.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article class="flex flex-col items-center gap-5 mb-10 bg-slate-400">
      <h2 class="text-3xl font-bold text-sky-600 text-center mb-3">
        Equipo de trabajo
      </h2>
      <p class="text-lg text-black">
        Es cierto que la voluntad y las buenas intenciones no son suficientes
        para llevar a cabo una buena administración. También soy consciente de
        que se requiere conocimiento, experiencia, contactos y buenas
        relaciones, tanto a nivel departamental como nacional. Es por eso que
        hemos trabajado arduamente para complementar esta parte con un excelente
        equipo de lujo. Entre los miembros destacados se encuentran el Doctor
        Cristian Gomez, el Ingeniero Oscar Navarra, el Ingeniero Oscar Melo, y
        otros destacados líderes comunitarios. Mi aspiración y esperanza son que
        todos nos unamos y nos acompañen en las urnas el 29 de Octubre. Juntos,
        podremos lograr un gobierno sólido y efectivo que beneficie a nuestra
        comunidad y nos encamine hacia un futuro próspero. ¡Los invito a que
        sean parte de este importante proceso!
      </p>
      <img
        width="450"
        height="300"
        class="w-[450px] h-[300px] object-cover rounded-lg"
        src="/img/weykman1.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article class="flex flex-col items-center gap-5 mb-10 bg-sky-200">
      <h2 class="text-3xl font-bold text-sky-600 text-center mb-3">
        Hola a todos y el mundo
      </h2>
      <p class="text-lg text-black">
        Como candidato a la alcaldía, me siento comprometido con mi región y con
        el bienestar de todos los ciudadanos de Consacá. Junto a mi equipo de
        trabajo, tengo un plan sólido para abordar los desafíos que enfrentamos
        en nuestro municipio. Estoy plenamente consciente de los problemas y
        también tengo claro cuáles son las soluciones necesarias. Mi programa de
        gobierno ocupa el primer lugar en mi plan de inversión, con un
        presupuesto bien estructurado y recursos gestionados de manera
        responsable. Además, contamos con diversas iniciativas y proyectos que
        buscan mejorar la calidad de vida de nuestros ciudadanos y promover el
        desarrollo de la comunidad.
      </p>
      <p class="text-lg text-black">
        El compromiso consiste en apropiarnos de esta opción y proyecto
        político, haciéndonos dueños de él, de sus ejes centrales y
        comprometiéndonos hasta lograr la renovación y el desarrollo para todos.
      </p>
      <p class="text-lg text-black">
        La tarea es fácil, estoy con ustedes y me comprometo a seguir su
        liderazgo, confiando en que me guiarán. Solo les recuerdo que las
        oportunidades se hacen visibles cuando simplificamos lo complejo y lo
        hacemos sencillo.
      </p>
      <img
        width="450"
        height="300"
        class="w-[450px] h-[300px] object-cover rounded-lg"
        src="/img/weykman12.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article class="flex flex-col items-center gap-5 mb-10 bg-red-200">
      <h2 class="text-3xl font-bold text-sky-600 text-center mb-3">
        Hola a todos y el mundo
      </h2>
      <p class="text-lg text-black">
        No me gusta trabajar solo, comparto tu visión sobre el trabajo conjunto
        y la importancia de la unión y el trabajo en equipo. Es por eso que los
        invito a todos a unirnos y colaborar en un gran PACTO SOCIAL. Esta
        invitación también se extiende a los partidos políticos de derecha y a
        aquellos con enfoques alternativos, a los precandidatos y a los líderes
        comunitarios. Todos son bienvenidos aquí. Juntos, podemos lograr mucho
        más y alcanzar objetivos que beneficien a la comunidad en su conjunto.
      </p>
      <p class="text-lg text-black">
        En este lugar, no cerramos la puerta a nadie, estamos abiertos a unirnos
        y trabajar en alianza con todos los partidos políticos, líderes sociales
        y movimientos u organizaciones sociales. Creo firmemente en la
        colaboración y el trabajo conjunto, ya que juntos somos más fuertes y
        podemos transformar Consacá. Nuestro objetivo es cambiarle el rostro,
        pintándolo con colores de esperanza, progreso y desarrollo para todos.
      </p>
      <img
        width="450"
        height="300"
        class="w-[450px] h-[300px] object-cover rounded-lg"
        src="/img/weykman4.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article class="flex flex-col items-center gap-5 mb-10 bg-yellow-200">
      <h2 class="text-3xl font-bold text-sky-600 text-center mb-3">
        Hola a todos y el mundo
      </h2>
      <p class="text-lg text-black">
        No podemos cometer errores, es crucial tomar decisiones informadas,
        quitarnos el velo de los ojos y examinar cuidadosamente lo que hay
        detrás de cada candidato. Seamos críticos y reflexivos en nuestro
        análisis, observando sus acciones y resultados pasados, evaluando su
        carácter y cómo se relaciona con los demás. Prestemos atención a su
        equipo de trabajo y examinemos su programa de gobierno. Lo más
        importante es observar sus intenciones: si buscan su propio interés
        personal o si están verdaderamente comprometidos con el bienestar de la
        comunidad.
      </p>
    </article>
  </main>
</Layout>
