<article class="flex items-center justify-center">
  <div class="flex flex-col items-center justify-center">
    <h2 class="">Iniciativa #1</h2>
    <p>
      Trabajar y gestionar para lograr un proyecto turístico que convierta a
      Consacá en el rincón turístico de Colombia.
    </p>
    <img
      width="300"
      height="250"
      class="w-full h-[250px] object-cover"
      src="/img/iniciativas/iniciativa5.webp"
      alt="Iglesia de Consacá"
      loading="lazy"
    />
  </div>
</article>

width="300"
height="250"
class="w-full h-[250px] object-cover"
