<section>
  <h2 class="text-red">C1</h2>
  <p>
    Con mi equipo de trabajo, estamos laborando arduamente en la campaña para la
    Alcaldía de Consacá, porque mi región me duele y la llevo en mi corazón. Por
    eso, tengo claro los problemas y las soluciones de mi municipio, y sé que
    con el presupuesto, proyectos y gestión de recursos, mediante un excelente
    plan de inversión, lograremos la ejecución de muchos proyectos y obras que
    son iniciativas necesarias.
  </p>
  <p>
    Con mi equipo de trabajo, estamos haciendo nuestra parte, pero de manera
    cariñosa les pido que se apropien de esta opción y proyecto político, que lo
    hagan suyo, comprendan sus ejes centrales y se comprometan con tres cosas:
    primero, en las urnas; segundo, en la ejecución; y finalmente, en disfrutar
    de la renovación y el progreso de nuestra gente. Es muy sencillo, solo vota
    por Weykman.
  </p>
  <h2>C2</h2>
  <p>
    A toda la comunidad de este bello municipio, les pido que sigamos
    persistiendo firmes en trabajar unidos por el desarrollo de Consacá y el
    bienestar de nuestra gente. <br />

    Sigamos difundiendo y sumando voces y esfuerzos. Los exhorto a que nos
    permitan llevar un mensaje claro de amor, progreso y bienestar integral para
    toda la ciudadanía, para que luego sea la herencia y el futuro de nuestros
    hijos.
    <br />
    Gracias a nuestros líderes urbanos y rurales, y a nuestro equipo de trabajo por
    acompañarnos. Decídete por el cambio, solo hazlo.
  </p>
  <p>
    Con la bendición, la fe y el acompañamiento en las urnas de todos y cada uno
    de ustedes, el 30 de octubre amanecerá un mejor porvenir, donde se tiene
    previsto atender a todos los sectores: vivienda, salud, ambiente, vial,
    agropecuario, cultura, deporte, educación, entre otros. Juntos demos ese
    salto de fe, no los voy a defraudar.
  </p>
  <p>
    Queremos posicionar a Consacá a nivel departamental en cuanto a eficiencia
    fiscal y administrativa, y sacarnos del último puesto en el que nos
    encontramos. Queremos darle una buena imagen a esta bella región llena de
    paisajes cafeteros, frutales y cañadazales. Weykman no es de promesas, es de
    acciones.
  </p>
  <h2>C3</h2>
  <p>
    La gente se queja y lamenta de las malas administraciones pasadas y le echan
    la culpa al ego, la división y la disputa de los candidatos de derecha y
    alternativos. Para solucionar este inconveniente, nosotros aquí nos unimos
    dos precandidatos de derecha y dos precandidatos alternativos. Hicimos un
    gran acuerdo de unión pendular y nos sentamos a la mesa para firmar un gran
    pacto social en Consacá.
    <br />
    Nosotros esperamos que ustedes, es decir, la población de nuestro municipio,
    nos acompañen masivamente con su voto, para que por fin tengamos una renovación
    de cambio, progreso y bienestar para toda nuestra gente.
    <br />
    Después de presentarles esta honesta solución a sus problemas y necesidades,
    les pido muy respetuosamente que dejemos de ser indolentes e indiferentes, y
    que tengamos un sentido de pertenencia por nuestro terruño. Entre todos, demostremos
    que sí podemos hacer la diferencia y mejorar nuestra comunidad.
  </p>
  <p>
    Los alcaldes de las corruptas administraciones pasadas no son los únicos
    culpables del problema; ellos son la consecuencia del problema. La verdadera
    causa del problema es la gente de nuestro municipio, por elegir y votar
    pensando en el beneficio personal y no en el beneficio de su vereda o de su
    pueblo. Es necesario reflexionar sobre nuestras decisiones y votar con
    conciencia, pensando en el bienestar colectivo y el desarrollo de nuestra
    comunidad.
    <br />

    Tienes toda la razón. Una de las razones por las que la gente vota
    equivocadamente es que muchas veces eligen a políticos por su habilidad para
    hacer política o por su trayectoria como politiqueros, en lugar de optar por
    líderes que tengan una verdadera vocación y compromiso con el servicio
    público.
    <br />
    Es lamentable, pero ciertamente uno de los problemas en muchos procesos electorales
    es que algunos votantes priorizan su beneficio personal sobre el bienestar de
    la comunidad. La falta de información adecuada y la manipulación política también
    contribuyen a que las personas no voten de manera consciente y responsable.
    <br />
    Es cierto que en ocasiones la sociedad puede mostrar una doble moral, expresando
    su descontento con la corrupción pero luego contribuyendo a perpetuarla con votos
    cuestionables. Esta contradicción es moralmente incorrecta y debilita el tejido
    social, votemos a conciencia, con dignidad y por merito para que Consacá se vuelva
    a vestirse de alegria.
  </p>
  <h2 class="text-red">D</h2>
  <p>
    El Pacto Histórico Consacá fue muy importante en las elecciones
    presidenciales y se creía que en las elecciones territoriales tendrían el
    mismo impacto, pero no fue así. Por ejemplo, al Pacto Histórico de Consacá
    llegaron unos tradicionales disfrazados de Colombia Humana y del Pacto
    Histórico, como Raúl Delgado y Guillermo García, entre otros. Ellos
    manipularon, distorsionaron y confundieron a los verdaderos integrantes del
    Pacto Histórico, quienes tenían buenas intenciones y la idea original del
    cambio.
    <br />
    Este grupo del Pacto Histórico, ya contaminado, mostró y dijo una cosa a los
    seguidores que ingenuamente les creyeron. La primera práctica amañada que hizo
    el Pacto Histórico fue inhabilitar al Doctor Cristian Gómez, un precandidato
    de calidad con conocimiento y experiencia.
  </p>
  <p>
    La estrategia malévola que el Pacto Histórico les hizo a los precandidatos
    alternativos de Consacá consistió en hacerlos afiliarse a un partido
    político y luego enredarles la asamblea. Posteriormente, dejaron pasar un
    tiempo, no les permitieron el consenso y finalmente les negaron el aval.
    Todo esto lo hicieron con el objetivo de favorecer únicamente a un
    precandidato predeterminado a dedo, que es el señor Edgar José Narváez.
    <br />
    Por esa razón, los precandidatos alternativos tuvieron que emigrar del Pacto
    Histórico, ya que no hubo juego limpio. La Colombia Humana y el Pacto Histórico
    en Consacá lo distorsionaron en el momento que decidieron jugar sucio, y dejó
    de ser una marca asociada a Gustavo Petro para convertirse en un pacto de tradicionales,
    es decir, de los mismos políticos de siempre.
  </p>
</section>
