<article class="flex flex-col items-center gap-6 p-6">
    <div class="">
      <h3 class="text-center my-3">Iniciativa #1</h3>
      <p class="my-3">
        Trabajar y gestionar para lograr un proyecto turístico que convierta a
        Consacá en el rincón turístico de Colombia.
      </p>
    </div>
    <div class="">
      <img
        width="300"
        height="250"
        class="w-full h-[250px] object-cover"
        src="/img/iniciativas/iniciativa5.webp"
        alt="Iglesia de Consacá"
        loading="lazy"
      />
    </div>
  </article>

  <article
    class="flex flex-col items-center gap-6 p-6 bg-sky-600 text-white my-auto rounded-xl"
  >
    <div class="bg-sky-600 text-white p-5 my-auto rounded-xl">
      <h3 class="text-center my-3">Iniciativa #2</h3>
      <p class="my-3 text-center">
        Trabajar en colaboración con el gobierno departamental y central para
        gestionar y viabilizar un proyecto de agroindustria, con el objetivo
        de brindar apoyo al agricultor y generar empleo para la comunidad.
      </p>
    </div>
  </article>

  <article class="flex flex-col items-center gap-6 p-6">
    <div class="">
      <h3 class="text-center my-3">Iniciativa #3</h3>
      <p class="my-3">
        Agrupar y organizar a los diferentes gremios, actividades y
        profesiones en asociaciones, con el objetivo de impulsar y apoyar su
        desarrollo mediante alianzas colaborativas que fomenten la
        productividad.
      </p>
    </div>
    <div class="">
      <img
        width="300"
        height="250"
        class="w-full h-[250px] object-cover"
        src="/img/iniciativas/iniciativa7.webp"
        alt=""
        loading="lazy"
      />
    </div>
  </article>

  <article class="flex flex-col items-center gap-6 p-6">
    <div class="">
      <h3 class="text-center my-3">Iniciativa #4</h3>
      <p class="my-3">
        Impulsar, apoyar y premiar a los nuevos emprendimientos rentables que
        generen empleo.
      </p>
    </div>
    <div class="">
      <img
        width="300"
        height="250"
        class="w-full h-[250px] object-cover"
        src="/img/iniciativas/iniciativa7.webp"
        alt=""
        loading="lazy"
      />
    </div>
  </article>

  <article
    class="flex flex-col items-center gap-6 p-6 bg-sky-600 text-white my-auto rounded-xl"
  >
    <div class="bg-sky-600 text-white p-5 my-auto rounded-xl">
      <h3 class="text-center my-3">Iniciativa #5</h3>
      <p class="my-3 text-center">
        Promover e incentivar los movimientos de juventud y mujeres, con el
        objetivo de alcanzar metas de progreso y bienestar.
      </p>
    </div>
  </article>

  <article class="flex flex-col items-center gap-6 p-6">
    <div class="">
      <h3 class="text-center my-3">Iniciativa #6</h3>
      <p class="my-3">
        Trabajar en colaboración con las fundaciones para realizar labores
        sociales y trabajo comunitario en todas las comunidades rurales.
      </p>
    </div>
    <div class="">
      <img
        width="300"
        height="250"
        class="w-full h-[250px] object-cover"
        src="/img/iniciativas/iniciativa4.webp"
        alt=""
        loading="lazy"
      />
    </div>
  </article>

  <article class="flex flex-col items-center gap-6 p-6">
    <div class="">
      <h3 class="text-center my-3">Iniciativa #7</h3>
      <p class="my-3">
        Trabajar y gestionar en alianza con las escuelas y colegios del
        municipio, el mejoramiento y mantenimiento de las instalaciones.
      </p>
    </div>
    <div class="">
      <img
        width="300"
        height="250"
        class="w-full h-[250px] object-cover"
        src="/img/iniciativas/iniciativa6.webp"
        alt=""
        loading="lazy"
      />
    </div>
  </article>

  <article
    class="flex flex-col items-center gap-6 p-6 bg-sky-600 text-white my-auto rounded-xl"
  >
    <div class="bg-sky-600 text-white p-5 my-auto rounded-xl">
      <h3 class="text-center my-3">Iniciativa #8</h3>
      <p class="my-3 text-center">
        Gestionar ante el gobierno departamental y nacional la implementación
        de una sub-sede del SENA y la creación de un laboratorio de suelos en
        el municipio de Consacá.
      </p>
    </div>
  </article>

  <article class="flex flex-col items-center gap-6 p-6">
    <div class="">
      <h3 class="text-center my-3">Iniciativa #9</h3>
      <p class="my-3">
        Trabajar y gestionar un proyecto ante el gobierno para obtener
        recursos destinados a la construcción de placas huellas en aquellas
        veredas que requieren de ellas.
      </p>
    </div>
    <div class="">
      <img
        width="300"
        height="250"
        class="w-full h-[250px] object-cover"
        src="/img/iniciativas/iniciativa2.webp"
        alt=""
        loading="lazy"
      />
    </div>
  </article>

  <article class="flex flex-col items-center gap-6 p-6">
    <div class="">
      <h3 class="text-center my-3">Iniciativa #10</h3>
      <p class="my-3">
        Trabajar en alianza con los colegios y asociaciones de exalumnos para
        gestionar ante la Secretaría de Educación departamental y el
        Ministerio de Educación la creación de una sede o facultad de la
        Universidad de Nariño en la zona de la circumbalar del Galeras
        (Consacá).
      </p>
    </div>
    <div class="">
      <img
        width="300"
        height="250"
        class="w-full h-[250px] object-cover"
        src="/img/iniciativas/iniciativa3.webp"
        alt=""
        loading="lazy"
      />
    </div>
  </article>

  <article
    class="flex flex-col items-center gap-6 p-6 bg-sky-600 text-white my-auto rounded-xl"
  >
    <div class="bg-sky-600 text-white p-5 my-auto rounded-xl">
      <h3 class="text-center my-3">Iniciativa #11</h3>
      <p class="my-3 text-center">
        Establecer una beca de estudios superiores para los tres primeros
        puestos en el examen del ICFES.
      </p>
    </div>
  </article>

  <article class="flex flex-col items-center gap-6 p-6">
    <div class="">
      <h3 class="text-center my-3">Iniciativa #12</h3>
      <p class="my-3">
        Trabajar en la gestión de recursos para la remodelación del estadio de
        Consacá.
      </p>
    </div>
    <div class="">
      <img
        width="300"
        height="250"
        class="w-full h-[250px] object-cover"
        src="/img/iniciativas/estadio.webp"
        alt="Estadio Consacá"
        loading="lazy"
      />
    </div>
  </article>