<section
  class="flex flex-col md:flex-row justify-center items-center max-w-5xl mx-auto py-11 relative dark:bg-zinc-800"
>
  <figure class="mb-4 md:mb-0 animate-fade-right animate-duration-[2000ms]">
    <img
      src="/img/weykman.webp"
      alt="Fotografía de Weyman Jojoa Parra"
      width="400"
      height="400"
    />
  </figure>
  <div class="flex flex-col justify-center items-center text-center md:ml-8">
    <h1
      class="text-4xl md:text-6xl mb-8 font-jetBrains font-semibold dark:text-white animate-fade-left animate-duration-[2000ms]"
    >
      <span
        class="text-transparent bg-gradient-to-tr from-sky-600 to-sky-500 bg-clip-text"
        >Weyman</span
      > Jojoa Parra
    </h1>
    <p
      class="text-xl max-w-lg dark:text-white animate-fade-left animate-duration-[2000ms]"
    >
      ¡Por el progreso del municipio de Consacá y el bienestar de nuestra gente,
      sí podemos!
    </p>
  </div>
</section>
