<section
  class="flex justify-center items-center max-w-5xl mx-auto py-11 relative"
>
  <figure>
    <img
      src="/img/weykman.webp"
      alt="Fotografía de Weyman Jojoa Parra"
      width="400"
      height="400"
    />
  </figure>
  <div
    class="flex flex-col justify-center items-center text-center relative max-w-3xl"
  >
    <h1 class="text-6xl mb-6 font-jetBrains font-semibold">
      <span
        class="text-transparent bg-gradient-to-tr from-sky-600 to-sky-500 bg-clip-text"
        >Weyman</span
      > Jojoa Parra
    </h1>
    <p class="text-xl max-w-lg">
      ¡Por el progreso del municipio de Consacá y el bienestar de nuestra gente,
      sí podemos!
    </p>
    <a
      class="px-3 py-3 bg-sky-600 text-white rounded-full relative top-7"
      href="#">Contactame</a
    >
  </div>
</section>
