<main class="max-w-5xl flex flex-col items-center justify-center mx-auto my-16">
  <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <article class="flex flex-col items-center gap-5 p-6">
      <div class="">
        <h3 class="text-center my-3 text-sky-600 text-2xl font-bold">
          Iniciativa #1
        </h3>
        <p class="my-3 dark:text-white lg:text-lg">
          Trabajar y gestionar para lograr un proyecto turístico que convierta a
          Consacá en el rincón turístico de Colombia.
        </p>
      </div>

      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] object-cover rounded-lg"
        src="/img/iniciativas/iniciativa4.webp"
        alt="Iglesia de Consacá"
        loading="lazy"
      />
    </article>

    <article
      class="flex flex-col items-center gap-6 p-6 bg-sky-600 text-white my-auto rounded-xl"
    >
      <div class="bg-sky-600 p-5 my-auto rounded-xl">
        <h3 class="text-center my-3 text-white text-2xl font-bold">
          Iniciativa #2
        </h3>
        <p class="my-3 text-center lg:text-lg">
          Trabajar en colaboración con el gobierno departamental y central para
          gestionar y viabilizar un proyecto de agroindustria, con el objetivo
          de brindar apoyo al agricultor y generar empleo para la comunidad.
        </p>
      </div>
      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] object-cover rounded-lg"
        src="/img/weykman9.webp"
        alt="Iglesia de Consacá"
        loading="lazy"
      />
    </article>

    <article class="flex flex-col items-center gap-6 p-6">
      <div class="">
        <h3 class="text-center my-3 text-sky-600 text-2xl font-bold">
          Iniciativa #3
        </h3>
        <p class="my-3 dark:text-white lg:text-lg">
          Agrupar y organizar a los diferentes gremios, actividades y
          profesiones en asociaciones, con el objetivo de impulsar y apoyar su
          desarrollo mediante alianzas colaborativas que fomenten la
          productividad.
        </p>
      </div>

      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] object-cover rounded-lg"
        src="/img/weykman2.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article class="flex flex-col items-center gap-6 p-6">
      <div class="">
        <h3 class="text-center my-3 text-sky-600 text-2xl font-bold">
          Iniciativa #4
        </h3>
        <p class="my-3 dark:text-white lg:text-lg">
          Impulsar, apoyar y premiar a los nuevos emprendimientos rentables que
          generen empleo.
        </p>
      </div>

      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] object-cover rounded-lg"
        src="/img/sombreros.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article
      class="flex flex-col items-center gap-6 p-6 bg-sky-600 text-white my-auto rounded-xl"
    >
      <div class="bg-sky-600 p-5 my-auto rounded-xl">
        <h3 class="text-center my-3 text-white text-2xl font-bold">
          Iniciativa #5
        </h3>
        <p class="my-3 text-center lg:text-lg">
          Promover e incentivar los movimientos de juventud y mujeres, con el
          objetivo de alcanzar metas de progreso y bienestar.
        </p>
      </div>
      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] object-cover rounded-lg"
        src="/img/jovenes.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article class="flex flex-col items-center gap-6 p-6">
      <div class="">
        <h3 class="text-center my-3 text-sky-600 text-2xl font-bold">
          Iniciativa #6
        </h3>
        <p class="my-3 dark:text-white lg:text-lg">
          Trabajar en colaboración con las fundaciones para realizar labores
          sociales y trabajo comunitario en todas las comunidades rurales.
        </p>
      </div>

      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] object-cover rounded-lg"
        src="/img/weykman4.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article class="flex flex-col items-center gap-6 p-6">
      <div class="">
        <h3 class="text-center my-3 text-sky-600 text-2xl font-bold">
          Iniciativa #7
        </h3>
        <p class="my-3 dark:text-white lg:text-lg">
          Trabajar y gestionar en alianza con las escuelas y colegios del
          municipio, el mejoramiento y mantenimiento de las instalaciones.
        </p>
      </div>

      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] rounded-lg"
        src="/img/escuela.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article
      class="flex flex-col items-center gap-6 p-6 bg-sky-600 text-white my-auto rounded-xl"
    >
      <div class="bg-sky-600 p-5 my-auto rounded-xl">
        <h3 class="text-center my-3 text-white text-2xl font-bold">
          Iniciativa #8
        </h3>
        <p class="my-3 text-center lg:text-lg">
          Gestionar ante el gobierno departamental y nacional la implementación
          de una sub-sede del SENA y la creación de un laboratorio de suelos en
          el municipio de Consacá.
        </p>
      </div>
      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] rounded-lg"
        src="/img/sena.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article class="flex flex-col items-center gap-6 p-6">
      <div class="">
        <h3 class="text-center my-3 text-sky-600 text-2xl font-bold">
          Iniciativa #9
        </h3>
        <p class="my-3 dark:text-white lg:text-lg">
          Trabajar y gestionar un proyecto ante el gobierno para obtener
          recursos destinados a la construcción de placas huellas en aquellas
          veredas que requieren de ellas.
        </p>
      </div>

      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] object-cover rounded-lg"
        src="/img/iniciativas/iniciativa3.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article class="flex flex-col items-center w-full gap-6 p-6">
      <div class="">
        <h3 class="text-center my-3 text-sky-600 text-2xl font-bold">
          Iniciativa #10
        </h3>
        <p class="my-3 dark:text-white lg:text-lg">
          Trabajar en alianza con los colegios y asociaciones de exalumnos para
          gestionar ante la Secretaría de Educación departamental y el
          Ministerio de Educación la creación de una sede o facultad de la
          Universidad de Nariño en la zona de la circumbalar del Galeras
          (Consacá).
        </p>
      </div>

      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] object-cover rounded-lg"
        src="/img/los-libertadores.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article
      class="flex flex-col items-center gap-6 p-6 bg-sky-600 text-white my-auto rounded-xl"
    >
      <div class="bg-sky-600 p-5 my-auto rounded-xl">
        <h3 class="text-center my-3 text-white text-2xl font-bold">
          Iniciativa #11
        </h3>
        <p class="my-3 text-center lg:text-lg">
          Establecer una beca de estudios superiores para los dos primeros
          puestos en el examen del ICFES.
        </p>
      </div>
      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] rounded-lg"
        src="/img/icfes.webp"
        alt=""
        loading="lazy"
      />
    </article>

    <article class="flex flex-col items-center gap-6 p-6">
      <div class="">
        <h3 class="text-center my-3 text-sky-600 text-2xl font-bold">
          Iniciativa #12
        </h3>
        <p class="my-3 dark:text-white lg:text-lg">
          Trabajar en la gestión de recursos para la remodelación del estadio de
          Consacá.
        </p>
      </div>

      <img
        width="350"
        height="280"
        class="w-[350px] h-[280px] object-cover rounded-lg"
        src="/img/iniciativas/estadio.webp"
        alt="Estadio Consacá"
        loading="lazy"
      />
    </article>
  </section>
</main>
