<table
  class="table-auto min-w-full bg-white border border-gray-300 rounded-lg dark:bg-slate-900 dark:text-white"
>
  <thead class="bg-sky-600 text-white">
    <tr>
      <th class="px-4 py-2">Proyecto</th>
      <th class="px-4 py-2">Obra</th>
      <th class="px-4 py-2">Sector</th>
    </tr>
  </thead>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Parque</td>
    <td class="px-4 py-2 border">Ampliar y nivelar</td>
    <td class="px-4 py-2 border">Consacá</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Estadio</td>
    <td class="px-4 py-2 border">Renovar</td>
    <td class="px-4 py-2 border">Consacá</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Piedra de Bolivar</td>
    <td class="px-4 py-2 border">Ejecución Obra</td>
    <td class="px-4 py-2 border">Bomboná</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Coliseo</td>
    <td class="px-4 py-2 border">Contrucción</td>
    <td class="px-4 py-2 border">Bomboná</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Piscina</td>
    <td class="px-4 py-2 border">Adecuación</td>
    <td class="px-4 py-2 border">Consacá</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Placas Huellas</td>
    <td class="px-4 py-2 border">Construcción</td>
    <td class="px-4 py-2 border">Veredas</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Escenarios Deportivos</td>
    <td class="px-4 py-2 border">Adecuación y mantenimiento</td>
    <td class="px-4 py-2 border">Veredas</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Acueductos</td>
    <td class="px-4 py-2 border">Contrucción y Adecuación</td>
    <td class="px-4 py-2 border">Veredas</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Alcantarillado</td>
    <td class="px-4 py-2 border">Más Cobertura</td>
    <td class="px-4 py-2 border">Consacá</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Microempresas</td>
    <td class="px-4 py-2 border">Impulsar y Apoyar</td>
    <td class="px-4 py-2 border">Consacá y Veredas</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Servicio Medico</td>
    <td class="px-4 py-2 border">Campañas de Salud</td>
    <td class="px-4 py-2 border">Veredas</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Campeonato de Futbol y Micro</td>
    <td class="px-4 py-2 border">Impulsar y Apoyar</td>
    <td class="px-4 py-2 border">Consacá y Veredas</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Ancianato</td>
    <td class="px-4 py-2 border">Apoyar Adultos Mayores</td>
    <td class="px-4 py-2 border">Consacá</td>
  </tbody>

  <tbody class="text-center">
    <td class="px-4 py-2 border">Colegios</td>
    <td class="px-4 py-2 border">Mejoramiento y Mantenimiento</td>
    <td class="px-4 py-2 border">CDR - Libertadores y Agropecuario</td>
  </tbody>

  <thead class="text-center">
    <td class="px-4 py-2 border">Centro de Acopio</td>
    <td class="px-4 py-2 border">Impulsar</td>
    <td class="px-4 py-2 border">Consacá</td>
  </thead>

  <thead class="text-center">
    <td class="px-4 py-2 border">Parque tematico</td>
    <td class="px-4 py-2 border">Construir</td>
    <td class="px-4 py-2 border">Municipio</td>
  </thead>
</table>
