---
import Proyectos from "../pages/proyectos.astro";
---

<Proyectos>
  <main>
    <table>
      <thead>
        <tr>
          <th>Proyecto</th>
          <th>Obra</th>
          <th>Sector</th>
        </tr>
      </thead>

      <tbody>
        <td>Parque</td>
        <td>Ampliar y nivelar</td>
        <td>Consacá</td>
      </tbody>

      <tbody>
        <td>Estadio</td>
        <td>Renovar</td>
        <td>Consacá</td>
      </tbody>

      <tbody>
        <td>Piedra de Bolivar</td>
        <td>Ejecución Obra</td>
        <td>Bombana</td>
      </tbody>

      <tbody>
        <td>Coliseo</td>
        <td>Contrucción</td>
        <td>Bombona</td>
      </tbody>

      <tbody>
        <td>Piscina</td>
        <td>Adecuación</td>
        <td>Consacá</td>
      </tbody>

      <tbody>
        <td>Placas Huellas</td>
        <td>Construcción</td>
        <td>Veredas</td>
      </tbody>

      <tbody>
        <td>Escenarios Deportivos</td>
        <td>Adecuación y mantenimiento</td>
        <td>Veredas</td>
      </tbody>

      <tbody>
        <td>Acueductos</td>
        <td>Contrucción y Adecuación</td>
        <td>Veredas</td>
      </tbody>

      <tbody>
        <td>Alcantarillado</td>
        <td>Más Cobertura</td>
        <td>Consacá</td>
      </tbody>

      <tbody>
        <td>Microempresas</td>
        <td>Impulsar y Apoyar</td>
        <td>Consacá - Veredas</td>
      </tbody>

      <tbody>
        <td>Servicio Medico</td>
        <td>Campañas de Salud</td>
        <td>Veredas</td>
      </tbody>

      <tbody>
        <td>Campeonato de Futbol</td>
        <td>Impulsar - Apoyar</td>
        <td>Consacá - Veredas</td>
      </tbody>

      <tbody>
        <td>Ancianato</td>
        <td>Apoyar Adultos Mayores</td>
        <td>Consacá</td>
      </tbody>

      <tbody>
        <td>Colegios</td>
        <td>Mejoramiento y Mantenimiento</td>
        <td>Libertad - Bombona</td>
      </tbody>

      <thead>
        <td>Centro de Acopio</td>
        <td>Impulsar</td>
        <td>Consacá</td>
      </thead>

      <thead>
        <td>Parque tematico</td>
        <td>Construir</td>
        <td>Municipio</td>
      </thead>
    </table>
  </main>
</Proyectos>
